[Desktop Entry]
Name=HamRS
GenericName=HamRS
Comment=HamRS
Exec=/opt/appimage/hamrs-1.0.6-linux-x86_64.AppImage
Icon=hamrs
Terminal=false
Type=Application
Categories=HamRadio;
