[Desktop Entry]
Name=YAAC
GenericName=YAAC
Comment=YAAC
Exec=java -jar /opt/yaac/YAAC.jar
Icon=yaac
Terminal=false
Type=Application
Categories=HamRadio;
